{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "prettier"
    ],
    "rules": {
        "no-console": "error",
        "react/react-in-jsx-scope": "off",
        "react/prop-types": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "react/jsx-no-target-blank": [
            "error",
            {
                "allowReferrer": true
            }
        ]
    }
}
