{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:react/recommended",
        "prettier"
    ],
    "plugins": ["import-access"],
    "rules": {
        "no-console": "error",
        "react/react-in-jsx-scope": "off",
        "react/prop-types": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "react/jsx-no-target-blank": [
            "error",
            {
                "allowReferrer": true
            }
        ],
        "import-access/jsdoc": ["error"]
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}
